# Dependencies
node_modules/
yarn.lock

# Build
dist/
*.local

# Env
.env
.env.*
!.env.example

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
.vercel
.env*.local
